<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mfam.agroandroid">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GroupActivity">
            <intent-filter>
                <action android:name="com.example.mfam.agroandroid.GroupActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".NamesActivity">
            <intent-filter>
                <action android:name="com.example.mfam.agroandroid.NamesActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".BasketActivity">
            <intent-filter>
                <action android:name="com.example.mfam.agroandroid.BasketActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".AddActivity">
            <intent-filter>
                <action android:name="com.example.mfam.agroandroid.AddActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
